<div class="row">
  <div class="col-12">
    <h1>Tên bài viết: {{blog.name}}</h1>
    <p>Nội dung: {{blog.content}}</p>
    <p>Mô tả: {{blog.desc}}</p>
    <p>Số view: {{blog.view}}</p>
  </div>
</div>
