<div class="row">
  {{#each blogs}}
    <div class="m-5 col-lg-4 card">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.content}}</p>
        <p class="card-text">{{this.desc}}</p>
        <p class="card-text">{{this.views}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  {{/each}}
</div>
